.todo-item {
  display: flex;
  align-items: center;

  padding-left: 14px;
  padding-right: 14px;

  font-size: 14px;
  line-height: 38px;

  cursor: pointer;
}

.todo-item.checked {
  text-decoration: line-through;
}

.todo-item + .todo-item {
  border-top: 1px solid #f1f3f5;
}
