html {
  height: calc(100vh);
  overflow-y: auto;
}

body input {
  box-sizing: border-box;
}

.todo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ababab;
  width: 450px;
  height: 500px;
}
